In [8]:
import pandas as pd

In [10]:
df = pd.read_json('ablation-prompting-technique-20240817-232745.jsonl', lines=True)
agg_df = df.drop(columns=['context', 'retrieval', 'run']).groupby(['qa']).agg(['min', 'mean', 'max', 'std'])
agg_df

         exact_match                              f1                      \
                 min  mean   max       std       min      mean       max
qa
cot-fs          0.62  0.64  0.65  0.017321  0.697929  0.715667  0.731024
cot-zs          0.50  0.52  0.54  0.020000  0.639825  0.650125  0.664063
cte             0.62  0.63  0.64  0.010000  0.728589  0.744486  0.758948
standard        0.49  0.50  0.52  0.017321  0.601199  0.610310  0.622532


               std
qa
cot-fs    0.016676
cot-zs    0.012522
cte       0.015230
standard  0.011002

In [14]:
df = pd.read_json('ablation-temperature-20240817-230350.jsonl', lines=True)
df.drop(columns=['context', 'retrieval', 'run']).groupby(['qa', 'temperature']).agg(['mean'])

                     exact_match        f1
                            mean      mean
qa       temperature
cte      0.0            0.560000  0.687859
         0.1            0.573333  0.698589
         0.3            0.560000  0.676589
         0.5            0.563333  0.685137
         0.7            0.570000  0.691570
         1.0            0.573333  0.684375
         1.5            0.533333  0.646284
standard 0.0            0.500000  0.604231
         0.1            0.503333  0.618818
         0.3            0.506667  0.622858
         0.5            0.513333  0.625697
         0.7            0.490000  0.601731
         1.0            0.503333  0.611642
         1.5            0.476667  0.590835
         2.0            0.320000  0.406635

In [15]:
print(df.drop(columns=['context', 'retrieval', 'run']).groupby(['qa', 'temperature']).agg(['mean']).to_markdown())

|                                   |   ('exact_match', 'mean') |   ('f1', 'mean') |
|:----------------------------------|--------------------------:|-----------------:|
| ('cte', 0.0)                      |                  0.56     |         0.687859 |
| ('cte', 0.1)                      |                  0.573333 |         0.698589 |
| ('cte', 0.30000000000000004)      |                  0.56     |         0.676589 |
| ('cte', 0.5)                      |                  0.563333 |         0.685137 |
| ('cte', 0.7000000000000001)       |                  0.57     |         0.69157  |
| ('cte', 1.0)                      |                  0.573333 |         0.684375 |
| ('cte', 1.5)                      |                  0.533333 |         0.646284 |
| ('standard', 0.0)                 |                  0.5      |         0.604231 |
| ('standard', 0.1)                 |                  0.503333 |         0.618818 |
| ('standard', 0.30000000000000004) |                  0.506667 |         0.622858 |
| ('standard', 0.5)                 |                  0.513333 |         0.625697 |
| ('standard', 0.7000000000000001)  |                  0.49     |         0.601731 |
| ('standard', 1.0)                 |                  0.503333 |         0.611642 |
| ('standard', 1.5)                 |                  0.476667 |         0.590835 |
| ('standard', 2.0)                 |                  0.32     |         0.406635 |