In [1]:
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
import pandas as pd

In [3]:
from tqdm.auto import tqdm
tqdm.pandas()

In [4]:
pd.options.display.float_format = '{:,.3f}'.format

In [11]:
df = pd.read_json("ablation-temperature-shqa-results-20240822-081554.jsonl", lines=True)
df.rename(
    columns={
        'exact_match': 'EM',
        'f1': 'F1',
    },
    inplace=True,
)
column_order = ['Prompting', 'Temperature', 'Run', 'EM', 'F1']
df = df.loc[:, column_order].copy().sort_values(['Prompting', 'Temperature', 'Run']).reset_index(drop=True)
df

   Prompting  Temperature  Run    EM    F1
0        CTE        0.000    1 0.560 0.691
1        CTE        0.000    2 0.560 0.695
2        CTE        0.000    3 0.570 0.712
3        CTE        0.100    1 0.540 0.686
4        CTE        0.100    2 0.570 0.698
5        CTE        0.100    3 0.580 0.712
6        CTE        0.300    1 0.560 0.685
7        CTE        0.300    2 0.550 0.676
8        CTE        0.300    3 0.580 0.701
9        CTE        0.500    1 0.560 0.684
10       CTE        0.500    2 0.580 0.691
11       CTE        0.500    3 0.550 0.669
12       CTE        0.700    1 0.570 0.703
13       CTE        0.700    2 0.580 0.704
14       CTE        0.700    3 0.580 0.684
15       CTE        1.000    1 0.530 0.646
16       CTE        1.000    2 0.520 0.666
17       CTE        1.000    3 0.580 0.690
18       CTE        1.500    1 0.560 0.654
19       CTE        1.500    2 0.560 0.684
20       CTE        1.500    3 0.540 0.692
21       CTE        2.000    1 0.200 0.226
22       CTE        2.000    2 0.100 0.150
23       CTE        2.000    3 0.140 0.188
24  Standard        0.000    1 0.540 0.645
25  Standard        0.000    2 0.530 0.639
26  Standard        0.000    3 0.520 0.625
27  Standard        0.100    1 0.540 0.646
28  Standard        0.100    2 0.540 0.659
29  Standard        0.100    3 0.530 0.643
30  Standard        0.300    1 0.480 0.596
31  Standard        0.300    2 0.520 0.633
32  Standard        0.300    3 0.510 0.624
33  Standard        0.500    1 0.480 0.597
34  Standard        0.500    2 0.510 0.629
35  Standard        0.500    3 0.500 0.620
36  Standard        0.700    1 0.530 0.634
37  Standard        0.700    2 0.480 0.595
38  Standard        0.700    3 0.490 0.613
39  Standard        1.000    1 0.490 0.620
40  Standard        1.000    2 0.450 0.557
41  Standard        1.000    3 0.490 0.599
42  Standard        1.500    1 0.480 0.583
43  Standard        1.500    2 0.480 0.587
44  Standard        1.500    3 0.480 0.577
45  Standard        2.000    1 0.340 0.402
46  Standard        2.000    2 0.370 0.470
47  Standard        2.000    3 0.380 0.472

In [12]:
with open("ablation-temperature-shqa-results-detailed.tex", 'w') as f:
    f.write(df.to_latex(index=False, float_format='%.3f'))

In [13]:
agg_df = df.drop(columns=['Run']).groupby(['Prompting', 'Temperature']).mean()
agg_df

                         EM    F1
Prompting Temperature
CTE       0.000       0.563 0.699
          0.100       0.563 0.699
          0.300       0.563 0.687
          0.500       0.563 0.681
          0.700       0.577 0.697
          1.000       0.543 0.667
          1.500       0.553 0.677
          2.000       0.147 0.188
Standard  0.000       0.530 0.636
          0.100       0.537 0.649
          0.300       0.503 0.618
          0.500       0.497 0.615
          0.700       0.500 0.614
          1.000       0.477 0.592
          1.500       0.480 0.583
          2.000       0.363 0.448

In [14]:
with open("ablation-temperature-shqa-results-agg.tex", 'w') as f:
    f.write(agg_df.to_latex(float_format='%.3f'))