In [8]:
import pandas as pd

In [10]:
df = pd.read_json('ablation-prompting-technique-20240817-232745.jsonl', lines=True)
agg_df = df.drop(columns=['context', 'retrieval', 'run']).groupby(['qa']).agg(['min', 'mean', 'max', 'std'])
agg_df

         exact_match                              f1                      \
                 min  mean   max       std       min      mean       max
qa
cot-fs          0.62  0.64  0.65  0.017321  0.697929  0.715667  0.731024
cot-zs          0.50  0.52  0.54  0.020000  0.639825  0.650125  0.664063
cte             0.62  0.63  0.64  0.010000  0.728589  0.744486  0.758948
standard        0.49  0.50  0.52  0.017321  0.601199  0.610310  0.622532


               std
qa
cot-fs    0.016676
cot-zs    0.012522
cte       0.015230
standard  0.011002

In [14]:
df = pd.read_json('ablation-temperature-20240817-230350.jsonl', lines=True)
df.drop(columns=['context', 'retrieval', 'run']).groupby(['qa', 'temperature']).agg(['mean'])

                     exact_match        f1
                            mean      mean
qa       temperature
cte      0.0            0.560000  0.687859
         0.1            0.573333  0.698589
         0.3            0.560000  0.676589
         0.5            0.563333  0.685137
         0.7            0.570000  0.691570
         1.0            0.573333  0.684375
         1.5            0.533333  0.646284
standard 0.0            0.500000  0.604231
         0.1            0.503333  0.618818
         0.3            0.506667  0.622858
         0.5            0.513333  0.625697
         0.7            0.490000  0.601731
         1.0            0.503333  0.611642
         1.5            0.476667  0.590835
         2.0            0.320000  0.406635

In [15]:
print(df.drop(columns=['context', 'retrieval', 'run']).groupby(['qa', 'temperature']).agg(['mean']).to_markdown())

|                                   |   ('exact_match', 'mean') |   ('f1', 'mean') |
|:----------------------------------|--------------------------:|-----------------:|
| ('cte', 0.0)                      |                  0.56     |         0.687859 |
| ('cte', 0.1)                      |                  0.573333 |         0.698589 |
| ('cte', 0.30000000000000004)      |                  0.56     |         0.676589 |
| ('cte', 0.5)                      |                  0.563333 |         0.685137 |
| ('cte', 0.7000000000000001)       |                  0.57     |         0.69157  |
| ('cte', 1.0)                      |                  0.573333 |         0.684375 |
| ('cte', 1.5)                      |                  0.533333 |         0.646284 |
| ('standard', 0.0)                 |                  0.5      |         0.604231 |
| ('standard', 0.1)                 |                  0.503333 |         0.618818 |
| ('standard', 0.30000000000000004) |                  0.506667 |         0.622858 |
| ('standard', 0.5)                 |                  0.513333 |         0.625697 |
| ('standard', 0.7000000000000001)  |                  0.49     |         0.601731 |
| ('standard', 1.0)                 |                  0.503333 |         0.611642 |
| ('standard', 1.5)                 |                  0.476667 |         0.590835 |
| ('standard', 2.0)                 |                  0.32     |         0.406635 |

In [1]:
examples = [
  {
    "id": "2hop__16777_419765",
    "context": "# Coningsby Disraeli\nBorn in Kensington, London, Disraeli was the son of Ralph Disraeli (1809\u20131898, the younger son of the writer Isaac D'Israeli). He was educated at Charterhouse School and New College, Oxford. The Prime Minister Benjamin Disraeli was his uncle. He inherited the Hughenden Manor estate acquired by his uncle on his father's death in 1898.\n# Queen Victoria\nPalmerston died in 1865, and after a brief ministry led by Russell, Derby returned to power. In 1866, Victoria attended the State Opening of Parliament for the first time since Albert's death. The following year she supported the passing of the Reform Act 1867 which doubled the electorate by extending the franchise to many urban working men, though she was not in favour of votes for women. Derby resigned in 1868, to be replaced by Benjamin Disraeli, who charmed Victoria. \"Everyone likes flattery,\" he said, \"and when you come to royalty you should lay it on with a trowel.\" With the phrase \"we authors, Ma'am\", he complimented her. Disraeli's ministry only lasted a matter of months, and at the end of the year his Liberal rival, William Ewart Gladstone, was appointed prime minister. Victoria found Gladstone's demeanour far less appealing; he spoke to her, she is thought to have complained, as though she were \"a public meeting rather than a woman\".",
    "question": "Who was the father of the person who replaced Derby when he resigned in 1868?",
    "cte_generation": "Triplets:\nBenjamin Disraeli | replaced | Derby\nRalph Disraeli | is father of | Coningsby Disraeli\nIsaac D'Israeli | is grandfather of | Coningsby Disraeli\n\nAnswer: Isaac D'Israeli"
  },
  {
    "id": "2hop__823584_776926",
    "context": "# Rotst\u00f6ckli\nThe Rotst\u00f6ckli (2,901 m) is a peak of the Urner Alps below the Titlis, on the border between the Swiss cantons of Obwalden and Nidwalden. It is Nidwalden's highest point. The summit is split between the municipalities of Engelberg (Obwalden) and Wolfenschiessen (Nidwalden).\n# Uri Alps\nThe Uri Alps (also known as \"Urner Alps\", ) are a mountain range in Central Switzerland and part of the Western Alps. They extend into the cantons of Obwalden, Valais, Bern, Uri and Nidwalden and are bordered by the Bernese Alps (Grimsel Pass) and the Emmental Alps to the west (the four lakes: Lungerersee, Sarnersee, Wichelsee, and Alpnachersee), the Schwyzer Alps to the north (Lake Lucerne), the Lepontine Alps to the south (the valley of Urseren with Andermatt) and the Glarus Alps to the east (Reuss).",
    "question": "What area contains the region that encompasses Rotst\u00f6ckli?",
    "cte_generation": "Triplets:\nRotst\u00f6ckli | part of | Urner Alps\nUrner Alps | part of | Western Alps\n\nAnswer: Western Alps"
  }
]

In [2]:
for example in examples:
    print(example['context'])

# Coningsby Disraeli
Born in Kensington, London, Disraeli was the son of Ralph Disraeli (1809–1898, the younger son of the writer Isaac D'Israeli). He was educated at Charterhouse School and New College, Oxford. The Prime Minister Benjamin Disraeli was his uncle. He inherited the Hughenden Manor estate acquired by his uncle on his father's death in 1898.
# Queen Victoria
Palmerston died in 1865, and after a brief ministry led by Russell, Derby returned to power. In 1866, Victoria attended the State Opening of Parliament for the first time since Albert's death. The following year she supported the passing of the Reform Act 1867 which doubled the electorate by extending the franchise to many urban working men, though she was not in favour of votes for women. Derby resigned in 1868, to be replaced by Benjamin Disraeli, who charmed Victoria. "Everyone likes flattery," he said, "and when you come to royalty you should lay it on with a trowel." With the phrase "we authors, Ma'am", he complimented her. Disraeli's ministry only lasted a matter of months, and at the end of the year his Liberal rival, William Ewart Gladstone, was appointed prime minister. Victoria found Gladstone's demeanour far less appealing; he spoke to her, she is thought to have complained, as though she were "a public meeting rather than a woman".
# Rotstöckli
The Rotstöckli (2,901 m) is a peak of the Urner Alps below the Titlis, on the border between the Swiss cantons of Obwalden and Nidwalden. It is Nidwalden's highest point. The summit is split between the municipalities of Engelberg (Obwalden) and Wolfenschiessen (Nidwalden).
# Uri Alps
The Uri Alps (also known as "Urner Alps", ) are a mountain range in Central Switzerland and part of the Western Alps. They extend into the cantons of Obwalden, Valais, Bern, Uri and Nidwalden and are bordered by the Bernese Alps (Grimsel Pass) and the Emmental Alps to the west (the four lakes: Lungerersee, Sarnersee, Wichelsee, and Alpnachersee), the Schwyzer Alps to the north (Lake Lucerne), the Lepontine Alps to the south (the valley of Urseren with Andermatt) and the Glarus Alps to the east (Reuss).